<h3>Bienvenu sur la page contacts</h3>

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, vel? Repellat
  nihil sint, quam perspiciatis explicabo dolore quis obcaecati iste quae
  mollitia velit quisquam deserunt ullam ea repellendus culpa. Odit.
</p>

<div class="formulaire">
  <div class="box">
    <h4>Formulaire de contacts</h4>
    <form>
      <input class="input" type="text" placeholder="Votre nom" />
      <input class="input" type="text" placeholder="Votre prenom" />
      <input class="input" type="email" placeholder="Votre email" />
      <textarea class="input" placeholder="Votre message"></textarea>
      <input type="submit" value="Envoyer" />
    </form>
  </div>
</div>
