ul {
  display: flex;
  align-items: center;
  list-style: none;
  background-color: #939596;
  height: 70px;
}

ul li {
  margin: 0 5px;
  padding: 5px;
  background-color: #126654;
  color: white;
}

ul li a {
  color: white;
}
